html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #414141;
}

.buttonHeroRounded {
  padding: 1.5rem 4rem;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  border: 1px solid transparent;
}

.heroRounded1 {
  background-color: #282626;
  color: #fff;
}
.heroRounded1:hover {
  background-color: #fff;
  color: #282626;
  border: 1px solid #282626;
}
.heroRounded1:active {
  background-color: #fff;
}
.heroRounded2 {
  background-color: #fff;
  color: #282626;
}
.heroRounded2:hover {
  background-color: #daae22;
  color: #fff;
  border: 1px solid #282626;
}
.heroRounded2:active {
  background-color: #daae22 !important;
}

.highlightText {
  font-style: italic;
  font-weight: 700;
}
.highlightTextUnderline {
  border-bottom: 5px solid rgba(218, 174, 34, 0.8);
}

.fluidImage {
  width: 100%;
  height: 100%;
}
.hoverCardImg {
  height: 150px;
  width: 150px;
}
.hoverCard {
  max-height: 250px;
  max-width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;
  justify-content: center;
  border-radius: 10px;
  transition: 0.5s ease;
  padding: 1rem;
}
.hoverCard:hover {
  background-color: #daae22;
  transform: scale(1.1);
}
.hoverCard:hover .hoverCardImg2 {
  display: block;
}
.hoverCard:hover .hoverCardImg1 {
  display: none;
}
.hoverCardImg1 {
  display: block;
  object-fit: contain;
}
.hoverCardImg2 {
  display: none;
  object-fit: contain;
}
.hoverCardText {
  text-transform: uppercase;
  text-align: center;
}

.hoverCardEffect {
  transition: 0.5s ease;
}
.hoverCardEffect:hover {
  transform: scale(1.05);
}

.glowEffect:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 3px #daae22;
}

.shadowEffect {
  box-shadow: 0px 5px 8px -2px black;
}

.vCard {
  max-width: 300px;
  background-color: #daae22;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.vCard img {
  width: 100%;
  height: 100%;
}
.vCard h5 {
  transition: 0.5s ease;
  text-align: center;
}
.vCard ul li {
  transition: 0.2s ease;
  list-style-type: square !important;
}
.vCard ul {
  margin: 1.5rem 2rem;
}
.vCard:hover h5,
.vCard:hover li {
  color: #fff;
}

.pCard {
  border-radius: 10px;
  width: 250px;
  height: 250px;
  overflow: hidden;
  display: flex;
  align-items: center;
  transition: 0.5s ease;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  background-color: #fff;
}
.pCard img {
  width: 200px;
  height: 200px;
  transition: 0.5s ease;
  user-select: none;
  position: absolute;
  left: 10%;
  border-radius: 10px;
}
.pCard p {
  text-align: center;
  padding: 1rem;
  opacity: 0;
  transition: 0.5s ease;
}
.pCard:hover {
  transform: scale(1.1);
}
.pCard:hover img {
  opacity: 0;
}
.pCard:hover p {
  opacity: 1;
}

.purposeCard {
  border-radius: 10px;
  overflow: hidden;
}
.purposeCard:hover {
  background-color: #daae22;
}
.purposeCard div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.purposeCard img {
  height: auto;
  width: 50%;
  max-width: 100px;
}
.square {
  position: relative;
  width: 90%;
  max-width: 250px;
  max-height: 250px;
}
.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
}
