.heroSectionContainer {
  min-height: 100vh;
  background-image: url("../../assets/background/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 65%;
  display: flex;
  align-items: center;
}
.heroSectionArticle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 1000px;
}
.heroSectionArticle aside {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.DoubleSection1 {
  min-height: 100vh;
  padding: 3rem 0;
}
.DoubleSection1Limiter {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.DoubleSection1Article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.DoubleSection1Article img {
  max-height: 70vh;
  height: 100%;
  margin-right: -10px;
  z-index: 2;
  box-shadow: 0px 5px 8px -2px black;
}
.DoubleSection1Article aside {
  min-height: 80vh;
  max-width: 450px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  gap: 1rem;
}

.FollowingSectionContainer {
  min-height: 100vh;
  padding: 1rem;

  background: url("../../assets/background/bg1.webp") center center / cover
    no-repeat fixed;
}
.FollowingSectionLimiter {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.FollowingSectionList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 900px;
}

.CarouselSection1Container {
  min-height: 100vh;
}
.CarouselSection1Limiter h1 {
  max-width: 800px;
  text-align: center;
  margin: auto;
  padding: 3rem 1rem;
  color: #fff;
}
.CarouselSection1Limiter article {
  padding: 2rem;
}
.CarouselSection1Limiter article aside {
  width: 100% !important;
  max-width: 300px !important;
  height: 400px !important;
}

.SalesSectionContainer {
  min-height: 100vh;
  padding: 1rem;
}
.SalesSectionContainer h1 {
  text-align: center;
}
.SalesSectionLimiter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}
.SalesSectionCardsContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}

.DetailsSectionContainer {
  padding: 1rem;
  background: transparent;
  background: url("../../assets/background/bg2.webp") center center / cover
    no-repeat fixed;
}
.DetailsSectionContainer h1 {
  text-align: center;
}
.DetailsSectionLimiter {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.DetailsSectionArticle {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
  margin: 1rem 0;
}
.DetailsSectionArticle ul {
  max-width: 300px;
  width: 100%;
  margin: 0 2rem;
}
.DetailsSectionArticle li {
  list-style-type: square !important;
  font-weight: 700;
}

.DetailsSection2Container {
  padding: 1rem;
}
.DetailsSection2Container h1 {
  text-align: center;
}
.DetailsSection2Limiter {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.DetailsSection2Article {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
  margin: 2rem 0;
}
.DetailsSection2Article aside:nth-child(1) {
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.2);
}
.DetailsSection2Article aside:nth-child(2) {
  max-width: 500px;
}
.DetailsSection2Article aside:nth-child(2) button {
  margin: 1rem 2rem;
}

.StatsSectionContainer {
  min-height: 100vh;
  padding: 1rem;
}
.StatsSectionLimiter {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.StatsSectionArticle {
  display: flex;
  flex-direction: column-reverse;

  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}
.StatsSectionArticle aside:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1rem;
}
.StatsSectionArticle aside:nth-child(1) ul {
  margin: 2rem;
}
.StatsSectionArticle aside:nth-child(1) li {
  list-style-type: square;
}
.StatsSectionArticle aside:nth-child(1) div {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.StatsSectionArticle aside:nth-child(1) button {
  border: 1px solid black;
}

.PartnersSectionContainer {
  min-height: 100vh;
  padding: 1rem;
  background: url("../../assets/background/bg1.webp") center center / cover
    no-repeat fixed;
}
.PartnersSectionLimiter {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.PartnersSectionArticle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}

.BannerSectionContainer {
  text-align: center;
  padding: 1rem;
}
.BannerSectionLimiter {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.BannerSectionLimiter p {
  color: rgba(255, 255, 255, 0.8);
}

.ReviewsSectionContainer {
  background: url("../../assets/background/bg2.webp") center center / cover
    no-repeat fixed;
  min-height: 100vh;
}
.ReviewsSectionContainer article {
  padding: 2rem;
  min-height: 700px;
}
.ReviewsSectionContainer article aside {
  width: 100% !important;
  max-width: 450px !important;
  height: 450px !important;
}
.ReviewsSectionContainer article aside img {
  border-radius: 10px;
  user-select: none;
  image-rendering: optimizeQuality;
}

.DetailsSection3Container {
  min-height: 100vh;
  padding: 1rem;
}
.DetailsSection3Limiter {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.DetailsSection3Container article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}
.DetailsSection3Limiter article aside:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.DetailsSection3Limiter article aside:nth-child(1) img {
  border-radius: 10px;
  height: 60vh;
  max-height: 400px;
}
.DetailsSection3Limiter blockquote {
  border-color: #daae22;
  max-width: 300px;
  text-align: center;
  font-style: italic;
}
.DetailsSection3Limiter article aside:nth-child(2) {
  max-width: 400px;
  padding: 1.5rem;
  text-align: center;
  border-radius: 10px;
  background-color: #2a2723;
}

.BannerSection2Container {
  padding: 2rem;
}
.BannerSection2Limiter {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.BannerSection2Container article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}
.BannerSection2Limiter p:nth-child(1) {
  text-align: center;
  color: #bbb;
}
.BannerSection2Container h1 {
  text-align: center;
  max-width: 700px;
  padding: 1rem;
  margin: -2px 0;
}
.BannerSection2Description {
  max-width: 700px;
  padding: 1.5rem;
  margin: 2rem 0;
  text-align: center;
  border-radius: 10px;
  background-color: #2a2723;
}

.DetailsSection4Container {
  padding: 2rem;
}
.DetailsSection4Limiter {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 1rem;
}
.DetailsSection4Limiter article {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}
.DetailsSectionConnects {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  text-align: center;
}
.DetailsSectionConnects a {
  width: 100%;
  max-width: 400px;
}
.DetailsSectionConnects a button {
  border: 1px solid black;
  padding: 1rem;
  width: 100%;
  max-width: 400px;
}

.DetailsSection5Container {
  padding: 2rem;
  background: url("../../assets/background/bg1.webp") center center / cover
    no-repeat fixed;
}
.DetailsSection5Limiter {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 1rem;
}
.DetailsSection5Limiter article {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.iCard {
  padding: 1rem;
  padding-top: 0rem;
  max-width: 250px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.05);
  transition: 0.5s ease;
  cursor: context-menu;
}
.iCard h5 {
  font-weight: 600;
  text-align: center;
}
.iCard p {
  font-weight: 600;
  text-align: justify;
}
.iCard ul {
  padding-top: 0.5rem;
  margin: 0 2rem;
}
.iCard li {
  list-style-type: square !important;
}
.iCard:hover h5 {
  color: #daae22;
}

/* .TriangleSectionLimiter article {
  max-width: 600px;
  position: relative;
  border: 1px solid green;
}
.TriangleSectionLimiter article aside:nth-child(1) {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 4rem 1rem 4rem;
  clip-path: polygon(50% 2%, 0% 100%, 100% 100%);
  height: 100%;
  min-height: 450px;
  width: 100%;
  position: absolute;
}
.TriangleSectionLimiter article aside:nth-child(2) {
  position: absolute;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: 500px;
  width: 100%;
}
.TriangleSectionLimiter article aside div {
  font-size: calc(1rem + 1vh);
  font-weight: 700;
  text-align: center;
  background-color: #daae22;
  padding: 0.5rem;
  border-radius: 10px;
} */
.TriangleSectionContainer {
  min-height: 100vh;
  background: url("../../assets/background/bg3.webp") center center / cover
    no-repeat fixed;
}
.TriangleSectionLimiter {
  display: flex;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 1rem;
  flex-wrap: wrap;
}
.TriangleSectionLimiter h1 {
  max-width: 600px;
  text-align: center;
  padding: 1rem;
}
.timeline {
  position: relative;
  .timeline-event {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    .timeline-content {
      position: relative;
      width: calc(50% - 50px);
      border-radius: 10px;
      text-align: center;
    }
    &::before {
      display: block;
      content: "";
      width: 2px;
      height: calc(50% - 30px);
      position: absolute;
      background: #d2d2d2;
      left: calc(50% - 1px);
      top: 0;
    }
    &::after {
      display: block;
      content: "";
      width: 2px;
      height: calc(50% - 30px);
      position: absolute;
      background: #d2d2d2;
      left: calc(50% - 1px);
      top: calc(50% + 30px);
    }
    &:first-child::before,
    &:last-child::after {
      display: none;
    }
    &:nth-child(even) .timeline-content {
      margin-left: calc(50% + 50px);
    }
    &:nth-child(odd) .timeline-content {
      margin-left: 0;
    }
  }
  .timeline-badge {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: #daae22;
    top: calc(50% - 8px);
    right: calc(50% - 8px);
    border-radius: 50%;
    text-align: center;
    cursor: default;
    i {
      font-size: 25px;
      line-height: 40px;
    }
  }
}

@media (max-width: 600px) {
  .timeline {
    .timeline-event {
      .timeline-content {
        width: calc(100% - 70px);
      }
      &::before,
      &::after {
        left: 19px;
      }
      &:nth-child(even) .timeline-content,
      &:nth-child(odd) .timeline-content {
        margin-left: 70px;
      }
    }
    .timeline-badge {
      left: 12px;
    }
  }
}

.NotesSectionContainer {
  padding: 2rem;
}
.NotesSectionLimiter {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 1rem;
}
.NotesSectionLimiter p {
  text-align: start;
  width: 100%;
  max-width: 400px;
}
.NotesSectionLimiter aside {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1rem;
}
.NotesSectionLimiter button {
  width: 100%;
  max-width: 300px;
}
.NotesSectionLimiter ul {
  margin: 0 1.5rem;
  margin-top: -10px;
}
.NotesSectionLimiter li {
  list-style-type: square !important;
}

.VideoSectionContainer {
  min-height: 100vh;
}
.VideoSectionBgContainer {
  position: relative;

  height: auto;
  width: 100%;
}
.VideoSectionBg video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background: #232a34;
}
.VideoSectionLimiter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  min-height: 100vh;
}
.VideoSectionLimiter article {
  max-width: 500px;
  text-align: center;
  background-color: #2a2723;
  padding: 2rem;
  padding-top: 0;
  border-radius: 10px;
}
.VideoSectionLimiter p,
.VideoSectionLimiter span {
  color: #ccc;
}
.VideoSectionLimiter iframe {
  height: 100%;
  width: 100%;
  min-height: 400px;
  max-width: 600px;
}

.DetailsSection6Container {
  padding: 2rem;
  background: url("../../assets/background/bg2.webp") center center / cover
    no-repeat fixed;
}
.DetailsSection6Limiter {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 1rem;
}
.DetailsSection6Limiter h1 {
  text-align: center;
  max-width: 800px;
}
.DetailsSection6Limiter article {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  border-radius: 10px;
  gap: 1rem;
  padding: 1rem 0;
  background-color: #fff;
}
.DetailsSection6Limiter aside {
  padding: 1rem;
  max-width: 250px;
  transition: 0.2s ease;
  font-weight: 700;
}
.DetailsSection6Limiter aside:hover {
  color: #daae22;
}

.PodcastSectionContainer {
  padding: 2rem;
}
.PodcastSectionLimiter {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
  gap: 1rem;
}

.PodcastSection2Container {
  position: relative;
  display: flex;
  align-items: center;
}
.PodcastSection2Limiter {
  max-width: 1200px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.PodcastSection2Limiter article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 400px;
  gap: 0.5rem;
  padding: 1rem;
}
.PodcastSection2Limiter article aside {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}
.PodcastSection2Limiter article aside {
  padding: 1rem;
  border-radius: 10px;
}
.PodcastSection2Limiter article aside li {
  list-style-type: square;
  margin-left: 1rem;
  font-weight: 700;
}
.PodcastSection2Limiter article img {
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
.PodcastSection2Limiter article button {
  margin-top: 1rem;
}
.PodcastSection2Limiter video {
  z-index: -1;
  height: 100%;
  width: 100%;
  max-width: 600px;
}

.BookSectionContainer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.BookSectionContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}
.BookSectionContainer div:hover {
  background-color: #daae22;
}
.BookSectionContainer p {
  max-width: 400px;
}
.BookSectionContainer button {
  border: 1px solid black;
}

.FaqSectionContainer {
  background: url("../../assets/background/bg3.webp") center center / cover
    no-repeat fixed;
  border: 1px solid transparent;
}
.FaqSectionLimiter {
  max-width: 800px;
  margin: auto;
}
.FaqSectionLimiter h1 {
  text-align: center;
}
.FaqSectionLimiter ul {
  border: none;
  box-shadow: none;
}
.FaqSectionLimiter li div {
  background-color: transparent;
}
.FaqSectionLimiter ul li ul li {
  list-style: square;
  margin-left: 2rem;
}
.collapsible-body p {
  margin-bottom: 1rem;
}

.PartnersSection2Limiter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  text-align: center;
}
.PartnersSection2Limiter h1 {
  color: #000;
  font-weight: 700;
  padding-top: 0;
  padding-bottom: 0.5rem;
}
.PartnersSection2Limiter article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

@media screen and (min-width: 800px) {
  .DoubleSection1Article {
    flex-direction: row;
  }
  .StatsSectionArticle {
    flex-direction: row;
  }
  .PodcastSection2Limiter {
    flex-direction: row-reverse;
  }
  .PodcastSection2Limiter article {
    margin-left: -60px;
  }
}
