.essNavbar {
  line-height: 1;
  height: 140px;
  background-color: #ffff;
  box-shadow: 0 0 transparent;
  color: #414141;
}
.essNavbarLimiter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  height: 100%;
  margin: auto;
}
.essNavbarLogo {
  display: flex;
  justify-content: center;
  font-weight: 700;
  gap: 0.5rem;
  padding: 1rem;
}
.essNavLogoImage {
  height: 100%;
  max-height: 80px;
}
.essNavbarLogoHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.essLinksList li a {
  margin: 0.5rem;
  padding: 1rem;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.essFbIcon:hover {
  background-color: #4267b2;
}
.essYtIcon:hover {
  background-color: #ff0000;
}
.essTiktokIcon:hover {
  background-color: #ff0050;
}
.essLinkedInIcon:hover {
  background-color: #0a66c2;
}

.essFooterContainer {
  background-color: #000;
}
.essFooterContainer p,
.essFooterContainer li {
  color: #fff;
  font-weight: 600;
}
.essFooterContainer h5 {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
}
.essFooterLimiter {
  display: flex;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.essFooterLogo {
  padding: 3rem;
}
.essFooterLimiter img {
  max-width: 140px;
}
.essFooterLimiter article {
  width: 100%;
  max-width: 800px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.essFooterLimiter article aside {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  width: 100%;
}
.essFooterRights {
  padding: 1rem;
  text-align: center;
  background-color: #daae22;
  font-weight: 700;
  font-size: 1.2rem;
}
.essLinksList2 {
  display: flex;
  flex-wrap: wrap;
}
.essLinksList2 li {
  font-size: 20px;
}
.essLinksList2 li a {
  margin: 0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: lightgray;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}
/* .essLinksList2 li a:hover {
  transition: 0.2s ease;
} */
